body
{
    background-color: #3c637e;
}
.enter{
    color: #ffffff;
    text-align: left;
}
.question
{
    margin: auto;
    text-align: right;
}
.answer{

    background-color: #2a5371;
    border-radius: 10px;
    color: #ffffff;
    font: bold;
    height: 140px;
    margin: 10px 0 10px 0;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.girl-photo
{
    margin-top: 10px;
}
.answer h1
{
    margin: 0;
}
.answer h2
{
    margin: 0;
}
.answer h3
{
    margin: 0;
}
.answer h4
{
    margin: 0;
}
.answer a{
    color: #000000;

}
.description
{
   padding-top: 10px;
    background-image: url("../img/blue-fon.jpg");
      color: #ffffff;
}
.description .answer {
    background-color: #ffffff;
    color: #2a5371;
}
.description .red
{
    color: #ffffff;
}

.time h1{
    background-color: #0d77a9;
    color: #ffffff;
    border-radius: 10px;
}
.red{
    color: #ca0000;
}
.bottom{
    background-color: #e4e4e4;
    color: #3c637e;
}
.top
{

    color: #4e7188;
}
.top {
    background-image: url("../img/girl-phone.jpg");
}
.text {
    font-size: 12pt;
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
}
.header h3
{
    font: 20em;
}